apps/worker/n8n/workflows/easy-wms-webhook.json
{
  "_comment": "Easy WMS Webhook Receiver — n8n workflow backup (sanitized). Replace <SUPABASE_SERVICE_ROLE_KEY> and configure 'Easy WMS API Key' credential (Header Auth, header name: Token) in n8n UI before activating. EASY_WEBHOOK_CLIENT_UUID = ea9cf587-a031-4e71-b872-c5829f0536f3",
  "name": "Easy WMS Webhook Receiver",
  "active": false,
  "nodes": [
    {
      "id": "ewms-webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "webhookId": "85b235d2-2273-4c61-9fbf-ba877c308dcf",
      "position": [0, 0],
      "parameters": {
        "httpMethod": "POST",
        "path": "easy-wms",
        "authentication": "headerAuth",
        "responseMode": "lastNode",
        "options": {}
      },
      "credentials": {
        "httpHeaderAuth": {
          "id": "EASY_WMS_HEADER_AUTH",
          "name": "Easy WMS API Key"
        }
      }
    },
    {
      "id": "ewms-map-validate",
      "name": "Map & Validate",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [220, 0],
      "parameters": {
        "jsCode": "// Easy WMS Webhook — Map & Validate\n// Iterates despachos[], builds orders[] and packages[] for batch upsert\n\nconst OPERATOR_ID = '92dc5797-047d-458d-bbdb-63f18c0dd1e7'; // Musan\nconst TENANT_CLIENT_ID = 'ea9cf587-a031-4e71-b872-c5829f0536f3';        // easy-webhook tenant_clients row\nconst RETAILER_NAME = 'Easy';\nconst IMPORTED_VIA = 'API';\n\nconst body = $input.first().json.body;\nconst evento = body.evento || '';\nconst despachos = body.despachos || [];\n\nif (despachos.length === 0) {\n  console.warn('[Easy WMS] Empty despachos array. evento:', evento);\n  return [{ json: {\n    orders: [],\n    packages: [],\n    despachos_count: 0,\n    orders_count: 0,\n    packages_count: 0,\n    warnings: ['Empty despachos array'],\n    evento,\n    operator_id: OPERATOR_ID,\n    tenant_client_id: TENANT_CLIENT_ID\n  }}];\n}\n\nfunction cleanPhone(phone) {\n  if (!phone) return '';\n  let cleaned = phone.replace(/[\\s\\-\\.\\(\\)]/g, '');\n  if (/^9\\d{8}$/.test(cleaned)) cleaned = '+56' + cleaned;\n  if (/^569\\d{8}$/.test(cleaned)) cleaned = '+' + cleaned;\n  return cleaned;\n}\n\nfunction parseDeliveryDate(despacho) {\n  const fc = (despacho.fecha_compromiso || '').trim();\n  if (fc && /^\\d{4}-\\d{2}-\\d{2}$/.test(fc)) return fc;\n  const fca = (despacho.fecha_carga || '').trim();\n  if (fca && /^\\d{4}-\\d{2}-\\d{2}$/.test(fca)) return fca;\n  throw new Error('Missing valid delivery date for entrega ' + despacho.entrega + '. fecha_compromiso=' + fc + ', fecha_carga=' + fca);\n}\n\nconst ordersMap = new Map(); // entrega -> order object\nconst packages = [];\nconst warnings = [];\nconst now = new Date().toISOString();\n\nfor (const despacho of despachos) {\n  const entrega = (despacho.entrega || '').trim();\n  if (!entrega) {\n    warnings.push('Skipped despacho with missing entrega: ' + JSON.stringify(despacho).substring(0, 100));\n    continue;\n  }\n\n  let deliveryDate;\n  try {\n    deliveryDate = parseDeliveryDate(despacho);\n  } catch (e) {\n    warnings.push(e.message);\n    continue;\n  }\n\n  const customerPhone = cleanPhone(despacho.cliente_telefono || '');\n\n  if (!ordersMap.has(entrega)) {\n    ordersMap.set(entrega, {\n      operator_id: OPERATOR_ID,\n      order_number: entrega,\n      external_load_id: despacho.id_carga || null,\n      delivery_date: deliveryDate,\n      delivery_address: despacho.direccion || '',\n      comuna: despacho.comuna || '',\n      customer_name: despacho.cliente_nombre || '',\n      customer_phone: customerPhone,\n      retailer_name: RETAILER_NAME,\n      imported_via: IMPORTED_VIA,\n      tenant_client_id: TENANT_CLIENT_ID,\n      imported_at: now,\n      raw_data: despacho\n    });\n  }\n\n  const items = despacho.items || [];\n  if (items.length === 0) {\n    warnings.push('Despacho ' + entrega + ' has no items — order will be upserted but no packages');\n  }\n\n  for (const item of items) {\n    const carton = (item.carton || '').trim();\n    if (!carton) {\n      warnings.push('Skipped item with missing carton in despacho ' + entrega);\n      continue;\n    }\n    const bultos = Math.round(parseFloat(item.bultos) || 1) || 1;\n    packages.push({\n      operator_id: OPERATOR_ID,\n      order_number: entrega, // used to link to order_id after upsert\n      label: carton,\n      declared_box_count: bultos,\n      sku_items: [{\n        sku: item.sku || '',\n        description: item.descripcion || '',\n        quantity: parseInt(item.cantidad, 10) || 1,\n        codigo_barra: item.codigo_barra || '',\n        mt3: item.mt3 || ''\n      }],\n      raw_data: item\n    });\n  }\n}\n\nconst orders = Array.from(ordersMap.values());\n\nif (orders.length === 0) {\n  throw new Error('No valid orders extracted from ' + despachos.length + ' despachos. Warnings: ' + warnings.join('; '));\n}\n\nreturn [{ json: {\n  orders,\n  packages,\n  despachos_count: despachos.length,\n  orders_count: orders.length,\n  packages_count: packages.length,\n  warnings,\n  evento,\n  id_carga: despachos[0].id_carga || 'unknown',\n  fecha_carga: despachos[0].fecha_carga || new Date().toISOString().split('T')[0],\n  operator_id: OPERATOR_ID,\n  tenant_client_id: TENANT_CLIENT_ID,\n  raw_body: body\n}}];"
      }
    },
    {
      "id": "ewms-create-job",
      "name": "Create Job Record",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [440, 0],
      "parameters": {
        "method": "POST",
        "url": "https://wfwlcpnkkxxzdvhvvsxb.supabase.co/rest/v1/jobs",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "<SUPABASE_SERVICE_ROLE_KEY>" },
            { "name": "Authorization", "value": "Bearer <SUPABASE_SERVICE_ROLE_KEY>" },
            { "name": "Prefer", "value": "return=representation" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ operator_id: $('Map & Validate').first().json.operator_id, client_id: $('Map & Validate').first().json.tenant_client_id, job_type: 'api', status: 'running', started_at: $now.toISO() }) }}",
        "options": {}
      }
    },
    {
      "id": "ewms-upsert-orders",
      "name": "UPSERT Orders",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [660, 0],
      "parameters": {
        "method": "POST",
        "url": "https://wfwlcpnkkxxzdvhvvsxb.supabase.co/rest/v1/orders?on_conflict=operator_id,order_number",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "<SUPABASE_SERVICE_ROLE_KEY>" },
            { "name": "Authorization", "value": "Bearer <SUPABASE_SERVICE_ROLE_KEY>" },
            { "name": "Prefer", "value": "resolution=merge-duplicates,return=representation" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($('Map & Validate').first().json.orders) }}",
        "options": {}
      }
    },
    {
      "id": "ewms-link-packages",
      "name": "Link Packages",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [880, 0],
      "parameters": {
        "jsCode": "// Map order_number -> order_id from UPSERT Orders response\nconst orderItems = $input.all();\nconst orders = orderItems.map(item => item.json);\nconst packages = $('Map & Validate').first().json.packages;\n\nconst orderIds = {};\nfor (const o of orders) {\n  if (o.order_number && o.id) {\n    orderIds[o.order_number] = o.id;\n  }\n}\n\nconst packageBodies = packages\n  .filter(p => {\n    if (!orderIds[p.order_number]) {\n      console.warn('[Easy WMS] No order_id found for package label=' + p.label + ' order_number=' + p.order_number);\n      return false;\n    }\n    return true;\n  })\n  .map(p => ({\n    operator_id: p.operator_id,\n    order_id: orderIds[p.order_number],\n    label: p.label,\n    sku_items: p.sku_items,\n    declared_box_count: p.declared_box_count,\n    raw_data: p.raw_data\n  }));\n\nreturn [{ json: {\n  packages: packageBodies,\n  orders_upserted: orders.length,\n  packages_count: packageBodies.length\n}}];"
      }
    },
    {
      "id": "ewms-upsert-packages",
      "name": "UPSERT Packages",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1100, 0],
      "parameters": {
        "method": "POST",
        "url": "https://wfwlcpnkkxxzdvhvvsxb.supabase.co/rest/v1/packages?on_conflict=operator_id,label",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "<SUPABASE_SERVICE_ROLE_KEY>" },
            { "name": "Authorization", "value": "Bearer <SUPABASE_SERVICE_ROLE_KEY>" },
            { "name": "Prefer", "value": "resolution=merge-duplicates,return=representation" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.packages) }}",
        "options": {}
      },
      "continueOnFail": true
    },
    {
      "id": "ewms-upload-raw",
      "name": "Upload Raw Payload",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1320, 0],
      "parameters": {
        "method": "PUT",
        "url": "=https://wfwlcpnkkxxzdvhvvsxb.supabase.co/storage/v1/object/raw-files/transportes-musan/easy-webhook/{{ $('Map & Validate').first().json.fecha_carga }}/carga-{{ $('Map & Validate').first().json.id_carga }}-{{ $now.toMillis() }}.json",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "<SUPABASE_SERVICE_ROLE_KEY>" },
            { "name": "Authorization", "value": "Bearer <SUPABASE_SERVICE_ROLE_KEY>" },
            { "name": "Content-Type", "value": "application/json" },
            { "name": "x-upsert", "value": "true" }
          ]
        },
        "sendBody": true,
        "specifyBody": "string",
        "body": "={{ JSON.stringify($('Map & Validate').first().json.raw_body) }}",
        "options": {}
      },
      "continueOnFail": true
    },
    {
      "id": "ewms-prepare-summary",
      "name": "Prepare Summary",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1540, 0],
      "parameters": {
        "jsCode": "// Prepare job completion data\nconst mapData = $('Map & Validate').first().json;\nconst linkData = $('Link Packages').first().json;\nconst jobId = $('Create Job Record').first().json.id;\n\n// Check if package upsert had errors (continueOnFail=true may return error object)\nlet packagesError = null;\ntry {\n  const pkgResp = $('UPSERT Packages').first();\n  if (pkgResp && pkgResp.json && pkgResp.json.error) {\n    packagesError = pkgResp.json.error;\n  }\n} catch(e) {\n  packagesError = e.message;\n}\n\n// Check storage upload error\nlet storageError = null;\ntry {\n  const storageResp = $('Upload Raw Payload').first();\n  if (storageResp && storageResp.json && storageResp.json.error) {\n    storageError = storageResp.json.error;\n  }\n} catch(e) {\n  storageError = e.message;\n}\n\nreturn [{ json: {\n  job_id: jobId,\n  patch_body: {\n    status: 'completed',\n    completed_at: new Date().toISOString(),\n    result: {\n      evento: mapData.evento,\n      id_carga: mapData.id_carga,\n      despachos_count: mapData.despachos_count,\n      orders_upserted: linkData.orders_upserted,\n      packages_upserted: linkData.packages_count,\n      warnings: mapData.warnings || [],\n      packages_error: packagesError,\n      storage_error: storageError\n    }\n  }\n}}];"
      }
    },
    {
      "id": "ewms-complete-job",
      "name": "Complete Job",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1760, 0],
      "parameters": {
        "method": "PATCH",
        "url": "=https://wfwlcpnkkxxzdvhvvsxb.supabase.co/rest/v1/jobs?id=eq.{{ $json.job_id }}",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "<SUPABASE_SERVICE_ROLE_KEY>" },
            { "name": "Authorization", "value": "Bearer <SUPABASE_SERVICE_ROLE_KEY>" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.patch_body) }}",
        "options": {}
      }
    },
    {
      "id": "ewms-respond-ok",
      "name": "Respond 200 OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1980, 0],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ status: 'ok', orders_upserted: $('Link Packages').first().json.orders_upserted, packages_upserted: $('Link Packages').first().json.packages_count }) }}",
        "options": {
          "responseCode": 200
        }
      }
    },
    {
      "id": "ewms-error-trigger",
      "name": "Error Trigger",
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [440, 400],
      "parameters": {}
    },
    {
      "id": "ewms-prepare-error",
      "name": "Prepare Error",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [660, 400],
      "parameters": {
        "jsCode": "// Extract error info and job_id for failure handler\nconst error = $input.first().json;\nlet jobId = null;\ntry {\n  const jobResp = $('Create Job Record').first();\n  if (jobResp && jobResp.json) {\n    jobId = jobResp.json.id || null;\n  }\n} catch(e) {\n  // Create Job Record may not have run yet\n}\n\nconst errorMessage = String(error.message || error.description || JSON.stringify(error)).substring(0, 1000);\n\nreturn [{ json: {\n  job_id: jobId || 'null',\n  patch_body: {\n    status: 'failed',\n    completed_at: new Date().toISOString(),\n    error_message: errorMessage\n  }\n}}];"
      }
    },
    {
      "id": "ewms-mark-job-failed",
      "name": "Mark Job Failed",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [880, 400],
      "parameters": {
        "method": "PATCH",
        "url": "=https://wfwlcpnkkxxzdvhvvsxb.supabase.co/rest/v1/jobs?id=eq.{{ $json.job_id }}",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "<SUPABASE_SERVICE_ROLE_KEY>" },
            { "name": "Authorization", "value": "Bearer <SUPABASE_SERVICE_ROLE_KEY>" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.patch_body) }}",
        "options": {}
      }
    },
    {
      "id": "ewms-respond-200-on-error",
      "name": "Respond 200 On Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1100, 400],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\"status\": \"received\", \"note\": \"processing error logged\"}",
        "options": {
          "responseCode": 200
        }
      }
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [[{ "node": "Map & Validate", "type": "main", "index": 0 }]]
    },
    "Map & Validate": {
      "main": [[{ "node": "Create Job Record", "type": "main", "index": 0 }]]
    },
    "Create Job Record": {
      "main": [[{ "node": "UPSERT Orders", "type": "main", "index": 0 }]]
    },
    "UPSERT Orders": {
      "main": [[{ "node": "Link Packages", "type": "main", "index": 0 }]]
    },
    "Link Packages": {
      "main": [[{ "node": "UPSERT Packages", "type": "main", "index": 0 }]]
    },
    "UPSERT Packages": {
      "main": [[{ "node": "Upload Raw Payload", "type": "main", "index": 0 }]]
    },
    "Upload Raw Payload": {
      "main": [[{ "node": "Prepare Summary", "type": "main", "index": 0 }]]
    },
    "Prepare Summary": {
      "main": [[{ "node": "Complete Job", "type": "main", "index": 0 }]]
    },
    "Complete Job": {
      "main": [[{ "node": "Respond 200 OK", "type": "main", "index": 0 }]]
    },
    "Error Trigger": {
      "main": [[{ "node": "Prepare Error", "type": "main", "index": 0 }]]
    },
    "Prepare Error": {
      "main": [[{ "node": "Mark Job Failed", "type": "main", "index": 0 }]]
    },
    "Mark Job Failed": {
      "main": [[{ "node": "Respond 200 On Error", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": ""
  }
}
