apps/worker/n8n/workflows/operational-alerting.json
{
  "name": "Operational Alerting",
  "id": "LCAdyXxLSeyMQk8d",
  "nodes": [
    {
      "id": "al-schedule",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 15
            }
          ]
        }
      }
    },
    {
      "id": "al-query-errors",
      "name": "Query Error Executions",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        220,
        0
      ],
      "parameters": {
        "method": "GET",
        "url": "http://localhost:5678/api/v1/executions?status=error&limit=20",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-N8N-API-KEY",
              "value": "<<N8N_API_KEY>>"
            }
          ]
        },
        "options": {}
      },
      "continueOnFail": true
    },
    {
      "id": "al-query-workflows",
      "name": "Query Workflows",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        440,
        0
      ],
      "parameters": {
        "method": "GET",
        "url": "http://localhost:5678/api/v1/workflows",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-N8N-API-KEY",
              "value": "<<N8N_API_KEY>>"
            }
          ]
        },
        "options": {}
      },
      "continueOnFail": true
    },
    {
      "id": "al-query-jobs",
      "name": "Query Recent Jobs",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        660,
        0
      ],
      "parameters": {
        "method": "GET",
        "url": "<<SUPABASE_URL>>/rest/v1/jobs?select=id,job_type,status,error_message,updated_at,operator_id&order=updated_at.desc&limit=200",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "<<SUPABASE_SERVICE_ROLE_KEY>>"
            },
            {
              "name": "Authorization",
              "value": "Bearer <<SUPABASE_SERVICE_ROLE_KEY>>"
            }
          ]
        },
        "options": {}
      },
      "continueOnFail": true
    },
    {
      "id": "al-process",
      "name": "Process Alerts",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        880,
        0
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// See story 3a-6 for full code"
      }
    },
    {
      "id": "al-if-alerts",
      "name": "IF Has Alerts",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1100,
        0
      ],
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "check-alert-key",
              "operator": {
                "type": "string",
                "operation": "exists"
              },
              "leftValue": "={{ $json.alertKey }}",
              "rightValue": ""
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "al-post-slack",
      "name": "Post to Slack",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1320,
        0
      ],
      "parameters": {
        "method": "POST",
        "url": "<<SLACK_WEBHOOK_URL>>",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.payload) }}",
        "options": {}
      }
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Query Error Executions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Query Error Executions": {
      "main": [
        [
          {
            "node": "Query Workflows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Query Workflows": {
      "main": [
        [
          {
            "node": "Query Recent Jobs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Query Recent Jobs": {
      "main": [
        [
          {
            "node": "Process Alerts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Alerts": {
      "main": [
        [
          {
            "node": "IF Has Alerts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Has Alerts": {
      "main": [
        [
          {
            "node": "Post to Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}